.blurb {
	padding: 2em 2em;
	width: 100%;
	& p {
		margin-top: -1em;
		max-width: 30em;
		margin-right: auto;
		margin-left: auto;
	}
	& .fa {
	  color: $lighter-gray-color;
	  font-size: 7em;
	}
	& h2 {
		margin-top: 0.5em;
	}
	& .partners {
		& img {
			max-width: 270px;
			display: block;
			padding-top: 2em;
			// margin-bottom; 4em;
			margin-left: auto;
			margin-right: auto;
		}
		margin-top: -2em;
	}
}
.partners-parent {
	margin-top: 1em;
	margin-bottom: -2em;
}
